.elementor-widget-listing-description .description {
    max-height: 300px; 
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.toggle-button {
    display: none;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0071bc; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.elementor-widget-listing-description:hover .toggle-button {
    display: block;
}
